
.Model {
	font-size: xx-large;
	padding-bottom: 20px;
	width:100%;
}

#numLabel {
/*	float:left;*/
}

#num_input_id{
	width:70%;
}

button:disabled {
	/*border: 3px solid red !important;*/
	/*background-color:gray;*/
	background-color: #9d9d9d;
    color: #27160d;
		border-color:#27160d;
}

.HZElem{
	float: left;
}

.HZElem img{
	float: left;
}

.Model{
	float:left;
}


.panel-title{
	text-align: center;
	background-color:#029344;
	color: white;
}


.btn-outline-primary {
    color: #975633;
    background-image: none;
    background-color: transparent;
    border-color: #975633;
		margin-bottom: 10px;
		margin-right:20px;
	}

.input-group{
		margin-bottom: 10px;
}

/*brown #975633*/
