.display-3{
	height: 72px;
	font-size: 60px;
	width: 80%;
	float: left;
}

.subtext{
	width: 100%;
}

.logoDiv {
	width: 20%;
	min-height: 75px;
	float: right;
	text-align: right;
}

#logo {
	height: 75px
}

.jumbotron{
	padding-top: 11px;
	margin-top: 24px;
	padding-bottom: 69px;
}

.ModelExp {
	font-size: xx-large;
	padding-bottom: 20px;
	width:100%;
	min-height: 1em;
}

.ModelType {
  font-size: large;
	width:100%
}

.typeLbl {
	font-weight: bold;
	font-size: 12pt;
}

#numLabel {
/*	float:left;*/
}

#num_input_id{
	width:70%;
}

button:disabled {
	background-color: #9d9d9d;
	color: #27160d;
	border-color:#27160d;
}

.HZElem{
	float: left;
}

.HZElem img{
	float: left;
}

.Model{
	float:left;
}


.panel-title{
	text-align: center;
	background-color:#029344;
	color: white;
}


.btn-outline-primary {
	color: #975633;
	background-image: none;
	background-color: transparent;
	border-color: #975633;
	margin-bottom: 10px;
	margin-right:20px;
	}

.input-group{
	margin-bottom: 10px;
}

/*brown #975633*/

/*CSS content*/
.EmptyHole:before {
	content: "⦇⦈";
}

.ascChar:before{
	content: ":";
}

.lCursor:before{
	content: "⊳";
}

.rCursor:before{
	content: "⊲";
}

.Num:before{
	content: "num";
}

.leftParens:before{
	content: "(";
}

.rightParens:before{
	content: ")";
}

.arrow:before{
	content: "→";
}

.plusSign:before{
	content: "+";
}

.Hole:before{
	 content: "⦇⦈";
}

.lambda:before{
	content: "λ";
}

.dot::before{
	content:".";
}

.injL:before{
	content:"injL";
}

.injR:before{
	content:"injR";
}

.lNE:before{
	content:"⦇";
}

.rNE:before{
	content:"⦈";
}

.case:before{
	content:"case";
}

.comma:before{
	content:",";
}

